html, body 
{
	height: 100%;
  margin: 0; padding: 0;
}

body 
{
width: 100%;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////container////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.container
{
text-align:center;
color: rgb(223, 93, 46)  ;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.container-fluid
{
  margin: 25px auto;
  text-align:center;
color:rgb(250, 201, 172) ; 
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////footer////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.footer
{
background-color:rgb(223, 93, 46)  ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 500px;
}

a
{
color:rgb(250, 201, 172); 
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////slider////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.slider 
{
width:60%;
margin: 100px auto;
}

.slick-slide 
{
margin: 0px 0px;
}

.slick-slide img 
{
width: 50%;
}

.slick-prev:before,
.slick-next:before 
{
color: rgb(223, 93, 46) ;
}


.slick-slide 
{
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active 
{
 opacity: .5;
}

.slick-current 
{
opacity: 1;
}

.insta
{
max-height: 350px;
}

.instagram-media
{
width: 100px ;  
}
.EmbeddedMediaImage

{
width: 100px ;  
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////ADMIN ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.ul
{
list-style: none;
}

.card-header
{
text-align: center;
color: rgb(223, 93, 46);
}

.card
{
text-align: center;
}

.list-group
{
text-align: center;
color: rgb(223, 93, 46);
}

.list-group-item
{
text-align: center;
color: rgb(223, 93, 46);
}
.btn
{
background-color: rgb(223, 93, 46);
}


/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////card ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */



.card-body.x
{
background-color: rgb(223, 93, 46);
color:rgb(250, 201, 172); 
}

.card-body.a
{
background-color: rgb(223, 93, 46);
color:rgb(250, 201, 172);
}

.card.a
{
margin: 10px;
text-align: center;
width:500px;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////jumbotron ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.jumbotron
{
text-align:center;
color:rgb(250, 201, 172)  ;
background-color: rgb(223, 93, 46)  ;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////input////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */



input.btn
{
text-align:center;
color:rgb(250, 201, 172) ;
background-color: rgb(223, 93, 46) ;
}

button
{
text-align:center;
color:rgb(223, 93, 46)  ;
background-color: rgb(250, 201, 172) ;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////autre////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

h6
{
color: rgb(250, 201, 172) ;
}

a.btn
{
color: rgb(250, 201, 172) ;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////modal////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.modal-content
{
background-color:rgb(223, 93, 46)  ;
color: rgb(250, 201, 172) ;
}

.g-recaptcha
{
text-align: center;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////media queries////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media all and (min-width: 0px) and (max-width: 500px)
{
    
  .slider 
  {
  width:100%;
  }

  .footer
  {
  background-color:rgb(223, 93, 46)  ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 250px;
  }

  a
  {
  color:rgb(250, 201, 172); 
  font-size: 10px;
  }

}

@media all and (min-width: 500px) and (max-width: 1115px)
{
    
   .slider 
   {
   width:80%;
   }

}

@media all and (min-width: 1115px) and (max-width: 1700px)
{
    
   .slider 
   {
   width:60%;
   }

}

@media all and (min-width: 1710px) and (max-width: 1920px)
{
    
   .slider 
   {
   width:60%;
   }

}