html
{
  height:100%;
}
 
body 
{
  height: 100%;
  margin:0;
  padding:0;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////logo////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.logo
{
width:100px; 
height:100px;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////container/////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.container
{
text-align:center;
color: black  ;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.carousel
{
margin-top: 10px;
text-align:center;
color:black ; 
margin-bottom: 10px;
}

.echec
{
text-align:center;
margin-top:100px;  
}

.reussite
{
text-align:center;
margin-top:100px;  
}

.recherche
{
text-align:center;
margin-top:300px;  
}

.moderation
{
text-align:center;
margin-top:300px;  
}

.login
{
margin: 0 auto;
text-align: center; 
margin-top: 200px; 
margin-bottom: 320px;
width: 30%;
color: black  ;
}

.inscription
{
margin: 0 auto;
text-align: center; 
margin-top: 50px; 
margin-bottom: 275px;
width: 30%;
color: black ;
}

.blog
{
display: flex;
margin: 0 auto;
text-align: center; 
margin-top: 10px; 
margin-bottom: 350px;
width: 80%;
color: black  ;
}

.image
{
margin: 0 auto;
text-align: center; 
margin-top: 10px; 
margin-bottom: 35px;
}

.jumbotron
{
background-color: white;
text-align:center;
color:black  ;
margin-bottom: 105px;
}

header
{
background-color:rgb(192, 56, 18)  ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center; 

}

.menu
{
list-style:none;
display: flex;
flex-direction: row;
justify-content:flex-end;
align-items: center;
}

.lien
{
list-style:none;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-right: 300px;
}
.res
{
  text-align: center;
  margin-right: 250px;
}

footer
{
  
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  background-color:rgb(192, 56, 18)   ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}




/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////slider////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.slider 
{
  margin-top: 10px;
  width:60%;
  margin: 0px auto;
 
}

.slick-slide 
{
  margin: 10px 10px;
}

.slick-slide img 
{
  width: 10%;
}

.slick-prev:before,
.slick-next:before 
{
  color: black ;
}


.slick-slide 
{
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active 
{
  opacity: .5;
}

.slick-current 
{
  opacity: 1;
}

.insta
{
max-height: 350px;
}

.instagram-media
{
 width: 100px ;  
}

.EmbeddedMediaImage
{
 width: 100px ;  
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////ADMIN ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

.ul
{
  list-style: none;
}

.card-header
{
text-align: center;
color: black;
}

.card
{
text-align: center;
}

.list-group
{
text-align: center;
color: black;
}

.list-group-item
{
text-align: center;
color: black;
}

.btn
{
  background-color: rgb(192, 56, 18) ;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////card ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */



.card-body.x
{
  background-color: rgb(192, 56, 18) ;
  color:black; 
}

.card-body.a
{
  background-color: rgb(192, 56, 18) ;
  color:black;
}

.card.a
{
  margin: 10px;
  text-align: center;
  width:300px;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////input////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */



input.btn
{
text-align:center;
color:black ;
background-color: rgb(192, 56, 18)  ;
}

button
{
text-align:center;
color:black  ;
background-color: rgb(192, 56, 18)  ;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////autre////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

a.btn
{
  color: black;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////modal////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */


.modal-content
{
background-color:rgb(192, 56, 18)   ;
color: rgb(250, 201, 172) ;
}

.g-recaptcha
{
margin-top: 15px;  
display:inline-block; 
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////mention legale et données/////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
h1,h6,.mot
{
text-align: center;
color: black  ;
}

a
{
color:black ;  
}

h2
{
margin-top: 15px;  
display:inline-block; 
text-align: center;
}

.reseau
{
 margin-right: 560px ; 
}

p
{
color: black ;
}

.titre,.blog,.name
{
  color: black
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////media queries////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width : 450px) 
{  


.logo
{
display: none;
}

.btn
{
  color:black; 
 font-size: 10px;
}
.res
{
  display: none;
}

.slider 
{
  width:85%;
  height: 40%;
}

.footer
{
background-color:rgb(192, 56, 18)  ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 10px;
}

.lien
{
  display: none;  
}
a
{
color:black; 
 font-size: 10px;
}
p
{
font-size: 10px;
}

.login
{
margin: 0 auto;
text-align: center; 
margin-top: 50px; 
margin-bottom:125px;
width: 30%;
color: black ;
}

label
{
font-size: 10px;
}

input
{
width: 120px ;
margin-top: 10px;
}

form
{
width:120% ;  
margin-top: 10px;
margin-bottom: 10px;
}

.g-recaptcha 
{
  
transform:scale(0.40);
  transform-origin:0 0;
}
.inscription
{
height: 450px;  
margin-top: 10px;
margin-bottom: 10px;
}

.form-inline.my-2.my-lg-0
{
display: none;  
}

.blog
{
margin: 0 auto;
text-align: center; 
margin-top: 10px; 
margin-bottom: 350px;
width: 30%;
color: black  ;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{  

.slider 
{
  width:85%;
  height: 40%;
}
.logo
{
width:50px;
height: 50px;
}
.footer
{
background-color:rgb(192, 56, 18)     ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 10px;
}

a
{
color:black; 
 font-size: 10px;
}
p
{
font-size: 10px;
}

.login
{
margin: 0 auto;
text-align: center; 
margin-top: 50px; 
margin-bottom:125px;
width: 30%;
color: black  ;
}

label
{
font-size: 10px;
}

input
{
width: 120px ;
margin-top: 10px;
}

form
{
width:120% ;  
margin-top: 10px;
margin-bottom: 10px;
}

.g-recaptcha 
{
transform:scale(0.40);
transform-origin:0 0;
}

.inscription
{
height: 450px;  
margin-top: 10px;
margin-bottom: 10px;
}

.form-inline.my-2.my-lg-0
{
display: none;  
}



}






@media only screen and (min-width : 1224px)
{
 
.slider 
{
  width:90%;
  
}
.carousel
{
  margin-bottom: 75px;  
}
}


@media only screen and (min-width : 1824px)
{
 
.slider 
{
  width:60%;
  
}
}



